Repository timescale/promscale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timescale/o11y-applications, @timescale/o11y-data-platform, @antekresic, @paulfantom, @cevian, @Harkishen-Singh, @onprem, @JamesGuthrie

.github/CODEOWNERS:

* @timescale/o11y-applications

# sql related stuff
*.sql @timescale/o11y-data-platform

# Go deps
go.mod @antekresic @paulfantom
go.sum @antekresic @paulfantom

# CI system and repository configuration
.github/ @cevian @paulfantom

# Go packages
/pkg/api @antekresic @Harkishen-Singh
/pkg/migrations/ @timescale/o11y-data-platform
/pkg/migration-tool @timescale/o11y-applications
/pkg/pgmodel/querier @timescale/o11y-data-platform
/pkg/tests/test_migrations/ @timescale/o11y-data-platform
/pkg/tests/testdata/ @timescale/o11y-data-platform
/pkg/tests/upgrade_tests/ @timescale/o11y-data-platform

/docs/mixin @paulfantom @onprem

# helm and kubernetes related parts
/deploy @cevian @paulfantom @onprem @JamesGuthrie

Update github actions
  .github/workflows/go-e2e.yml
  .github/workflows/go-releaser.yml
  .github/workflows/go-scheduled.yml
  .github/workflows/go.yml
Owners: @cevian, @paulfantom

Update github actions
  .github/workflows/go-e2e.yml
  .github/workflows/go-releaser.yml
  .github/workflows/go-scheduled.yml
  .github/workflows/go.yml
Owners: @cevian, @paulfantom

Update github actions
  .github/workflows/go-e2e.yml
  .github/workflows/go-releaser.yml
  .github/workflows/go-scheduled.yml
  .github/workflows/go.yml
  .github/workflows/gosec.yml
  .github/workflows/helm.yml
  .github/workflows/integration.yml
  .github/workflows/mixin.yml
Owners: @cevian, @paulfantom

Log mandatory requirement of Promscale extension when upgrading
  CHANGELOG.md
  pkg/pgmodel/new_migrate.go
Owners: @timescale/o11y-applications

Fix lint issue
  pkg/api/common.go
Owners: @antekresic, @Harkishen-Singh

Update github actions
  .github/workflows/go-e2e.yml
  .github/workflows/go-releaser.yml
  .github/workflows/go-scheduled.yml
  .github/workflows/go.yml
  .github/workflows/gosec.yml
  .github/workflows/helm.yml
  .github/workflows/integration.yml
  .github/workflows/mixin.yml
Owners: @cevian, @paulfantom

Fix lint issue
  pkg/api/common.go
Owners: @antekresic, @Harkishen-Singh

Optimize span query based on maximum time duration
  pkg/jaeger/query/query.go
  pkg/jaeger/query/trace_query.go
Owners: @timescale/o11y-applications

Rework jaegerquery wiring to pass down config
  pkg/api/router.go
  pkg/jaeger/api.go
  pkg/jaeger/query/config.go
  pkg/jaeger/query/find_trace_ids.go
  pkg/jaeger/query/find_traces.go
  pkg/jaeger/query/get_trace.go
  pkg/jaeger/query/query.go
  pkg/jaeger/query/trace_query.go
  pkg/runner/flags.go
  pkg/runner/runner.go
  pkg/tests/end_to_end_tests/ingest_trace_test.go
  pkg/tests/end_to_end_tests/promql_endpoint_integration_test.go
  pkg/tests/end_to_end_tests/trace_query_integration_test.go
Owners: @antekresic, @Harkishen-Singh, @timescale/o11y-applications

Optimize span query based on maximum time duration
  pkg/jaeger/query/query.go
  pkg/jaeger/query/trace_query.go
Owners: @timescale/o11y-applications

Prepare the 0.11.0-alpha.2 release
  deploy/helm-chart/Chart.yaml
  deploy/static/deploy.yaml
  pkg/version/version.go
Owners: @cevian, @paulfantom, @onprem, @JamesGuthrie, @timescale/o11y-applications

Prepare the 0.11.0-alpha.2 release
  deploy/helm-chart/Chart.yaml
  deploy/static/deploy.yaml
  pkg/version/version.go
Owners: @cevian, @paulfantom, @onprem, @JamesGuthrie, @timescale/o11y-applications

Update golang dependencies
  go.mod
  go.sum
  migration-tool/go.mod
  migration-tool/go.sum
Owners: @antekresic, @paulfantom

pkg/internal/testhelpers: use new format for defining mounts
  pkg/internal/testhelpers/postgres_container.go
  pkg/internal/testhelpers/prometheus_container.go
Owners: @timescale/o11y-applications

Update golang dependencies
  go.mod
  go.sum
  migration-tool/go.mod
  migration-tool/go.sum
Owners: @antekresic, @paulfantom

*: update data types to otel 0.49.0
  go.mod
  pkg/jaeger/query/trace_scan.go
  pkg/pgmodel/ingestor/trace/operation_batch_test.go
  pkg/pgmodel/ingestor/trace/tag_batch_test.go
  pkg/pgmodel/ingestor/trace/writer.go
  pkg/tests/end_to_end_tests/continuous_agg_test.go
  pkg/tests/end_to_end_tests/dataset_traces_test.go
Owners: @antekresic, @paulfantom, @timescale/o11y-applications

Replace deprecated type imports with recommended ones.
  pkg/jaeger/query/trace_scan.go
  pkg/pgmodel/ingestor/trace/operation_batch.go
  pkg/pgmodel/ingestor/trace/writer.go
Owners: @timescale/o11y-applications

Fix output of skipped extension prerelease information
  pkg/pgmodel/common/extension/extension.go
Owners: @timescale/o11y-applications

Fix tests
  go.mod
  go.sum
  pkg/rules/config_test.go
Owners: @antekresic, @paulfantom, @timescale/o11y-applications

Fix output of skipped extension prerelease information
  pkg/pgmodel/common/extension/extension.go
Owners: @timescale/o11y-applications

Update -metrics.rules.prometheus-config -> -metrics.rules.config-file
  docs/configuration.md
  pkg/rules/config.go
Owners: @timescale/o11y-applications

Update -metrics.rules.prometheus-config -> -metrics.rules.config-file
  docs/configuration.md
  pkg/rules/config.go
Owners: @timescale/o11y-applications

Replace deprecated type imports with recommended ones.
  pkg/jaeger/query/trace_scan.go
  pkg/pgmodel/ingestor/trace/operation_batch.go
  pkg/pgmodel/ingestor/trace/writer.go
Owners: @timescale/o11y-applications

pkg/internal/testhelpers: use new format for defining mounts
  pkg/internal/testhelpers/postgres_container.go
  pkg/internal/testhelpers/prometheus_container.go
Owners: @timescale/o11y-applications

*: update data types to otel 0.49.0
  go.mod
  pkg/jaeger/query/trace_scan.go
  pkg/pgmodel/ingestor/trace/operation_batch_test.go
  pkg/pgmodel/ingestor/trace/tag_batch_test.go
  pkg/pgmodel/ingestor/trace/writer.go
  pkg/tests/end_to_end_tests/continuous_agg_test.go
  pkg/tests/end_to_end_tests/dataset_traces_test.go
Owners: @antekresic, @paulfantom, @timescale/o11y-applications

Fix tests
  go.mod
  go.sum
  pkg/rules/config_test.go
Owners: @antekresic, @paulfantom, @timescale/o11y-applications

Update golang dependencies
  go.mod
  go.sum
  migration-tool/go.mod
  migration-tool/go.sum
Owners: @antekresic, @paulfantom

Update dependency otel/opentelemetry-collector to v0.50.0
  docker-compose/docker-compose.yaml
Owners: @timescale/o11y-applications
